<%= f.label :post %>
<%= collection_select(:comment, :post_id, Post.find(:all), :id, :title, :class =>"medium") %>
<br />
<%= f.label :author %>
<%= f.text_field :author, :class => :medium %>
<br/>
<%= f.label :user_ip %>
<%= f.text_field :user_ip, :class => :medium %>
<br/>
<%= f.label :author_email %>
<%= f.text_field :author_email, :class => :medium %>
<br/>
<%= f.label :author_url %>
<%= f.text_field :author_url, :class => :medium %>
<br />
<%= f.label :content %>
<%= f.text_area :content, :class => :medium %>
<br/>
<br />
<label>
  <%= f.submit "Submit" %>
</label>