<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => "layouts/public/head" %>
  <body>

    <div id="wrapper">
      <div id="header">
        <div id="logo">
          <h1><%= link_to "Limi's Sphere of Influence", root_path %></h1>
          <span>dabbling, frivolling, idling, loitering, playing and procrastinating</span>
        </div>
        <div id="topright">
          <ul>
            <li><a href="#searchform">search</a></li>
            <li><a href="#main">skip to content &darr;</a></li>
          </ul>
        </div>
      </div> <!-- Closes header -->

      <div id="catnav">
        <div id="toprss">
          <a href="#">
            <%= link_to image_tag("rss-trans.png", :width => 65, :height => 24), posts_path(:atom) %>
          </a>
        </div> <!-- Closes toprss -->
        <ul id="nav">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </div> <!-- Closes catnav -->
      <div class="cleared"></div>
      <div id="main">
        <%= @content_for_layout %>
      </div><!-- Closes Main -->
      <div id="morefoot">
        <div class="col1">
          <h3>So who are you then?</h3>
          <p>I'm a Ruby on Rails web developer and I tend to work in the online PC gaming market.</p>
          <p>However with the current economic climate I'm currently looking for a new job in the London area.</p>
        </div>
        <div class="col2">
          <h3>Visit my friends!</h3>
          <p>A few highly recommended friends...</p>
          <ul>
            <% Link.find(:all, :order => :name).each do |link| %>
              <li><%= link_to link.name, link.url %></li>
            <% end %>
          </ul>
        </div>
        <div class="col3">
          <h3>Archives</h3>
          <p>All entries, chronologically...</p>
          <ul>
            <% months = Post.active.group_by { |t| t.publish_at.beginning_of_month } %>
            <% months.each do |month, post| %>
              <li><%= link_to month.strftime('%B %Y'), archive_month_path(:year => month.strftime('%Y'), :month => month.strftime('%m')) %></li>
            <% end %>
          </ul>
        </div>
        <div class="cleared"></div>
      </div><!-- Closes morefoot -->
      <div id="footer">
        <div id="footerleft">
          <p>Powered by <a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a>. Theme by <a href="http://samk.ca/freebies/" title="WordPress theme">pixeled</a>. Icons by <a href="http://famfamfam.com/">famfamfam</a>. <a href="#main">Back to top &uarr;</a></p>
        </div>
        <div id="footerright">
          <a href="http://rubyonrails.org" title="Ruby on Rails" ><%= image_tag("rails.png") %></a>
        </div>
        <div class="cleared"></div>
      </div><!-- Closes footer -->
    </div><!-- Closes wrapper -->
  </body>
</html>
