%head
  %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %title #{h configatron.site_name || I18n.t('txt.site_title', :default => 'Beastwriter')}#{" - #{h @page_title}" if @page_title}
  = stylesheet_link_tag 'display'
  = stylesheet_link_tag 'captcha'
  = javascript_include_tag :defaults, :cache => 'beast'

  - unless @feed_icons.blank?
    - @feed_icons.each do |feed|
      = auto_discovery_link_tag :atom, feed[:url], :title => "Subscribe to '#{feed[:title]}'"

  %link{:rel => "search", :type => "application/opensearchdescription+xml", :href => "http://#{request.host_with_port}/open_search.xml"}