<h5><%= I18n.t 'txt.views_posts.formatting_help', :default => 'Formatting Help' %></h5>

<ul class="help">
  <li><%= I18n.t 'txt.views_posts.formatting_bold', :default => '*bold*' %></li>
  <li><%= I18n.t 'txt.views_posts.formatting_italics', :default => '_italics_' %></li>
  <li><%= I18n.t 'txt.views_posts.formatting_blockquote', :default => 'bq. <span>(quotes)</span>' %></li>
  <li>"IBM":http://www.ibm.com</li>
  <li><%= I18n.t 'txt.views_posts.formatting_list', :default => '* or # <span>(lists)</span>' %></li>
</ul>
