- @page_title = search_posts_title

%h1
  - if params[:q].blank?
    = @page_title
  - else
    = I18n.t 'txt.search_results_for_searchterm', :default => "Search results for '{{searchterm}}'", :searchterm => h(params[:q])

%p.subtitle
  = feed_icon_tag @page_title, search_path(true)
  = I18n.t 'txt.count_posts_found', :count => @posts.total_entries

= will_paginate @posts

%table.posts.wide{:border => "0", :cellspacing => "0", :cellpadding => "0"}
  - for post in @posts do
    - unless post == @posts.first
      %tr.spacer
        %td{:colspan => "2"}
    %tr.post.hentry{:id => dom_id(post)}
      %td.author.vcard
        .date
          %abbr.updated{:title => post.created_at.xmlschema}
            = I18n.t 'txt.post_age', :when => time_ago_in_words(post.created_at), :default => 'posted {{when}} ago'

        = avatar_for @users[post.user_id]
        %span.fn= link_to truncate(h(@users[post.user_id].display_name), :length => 15), user_path(post.user)
        %span.posts= I18n.t 'txt.count_posts', :count => @users[post.user_id].posts.size, :num => number_with_delimiter(@users[post.user_id].posts.size)
      %td.body.entry-content
        %p.thread
          #{I18n.t 'txt.forum', :default => 'Forum'}: #{link_to h(post.forum.name), forum_path(post.forum)} &ndash; #{I18n.t 'txt.thread', :default => 'Thread'}: #{link_to h(post.thread.title), forum_thread_path(post.forum, post.thread)}
        = post.body_html

= will_paginate @posts